body{
    background-image: url("pic.jpeg");
    position:absolute auto;
    background-position: sticky;
    background-repeat:no-repeat;
    background-size: 1280px 600px;
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    font-weight: 100;
    letter-spacing: 3px;
    color: white;
    text-align: center;
    margin-top: 10px;
}
.sidenav {
    height: 100%; 
    width: 160px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: white; 
    overflow-x: hidden; 
    padding-top: 20px;
    opacity:0.9;
}
.sidenav h3{
    margin-left: 10px;
}
  
 
.sidenav a {
    margin-top:50px;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color:black;
    display: block;
   
}
  
 
.sidenav a:hover {
    color: green;
}